{% extends "base.html" %}
{% block title %}Help - My Podcast{% endblock %}
{% block content %}

<h2 class="text-white font-weight-light mb-2 display-4">Help!</h2>
<div style="max-height:90vh; overflow-y:auto">
<div class="border-secondary text-white bg-transparent text-left">
    <p class=MsoNormal>Confused? We are here to help.<br>
    You can create a Podcast with the default settings, or you can customize its
    properties, via the Options page. <br>
    First of all, if you are not registered, you need to do so with a username and
    a password of your choice. This way, MyPodcast will remember all the podcasts
    you create and you will be able to listen to them again and again and again…<br>
    After you login with your username and password, you can create your podcast by
    just entering the topic you want it to cover. <br>
    But wait… There is more! You can customize your podcast. You can select the AI provider,
    the names and sexes of the podcast hosts, their voice, mood etc. To do so, just
    click (or touch) the menu icon and select the Options page from the menu. </p>

    <p class=MsoNormal>On the Options page, you can select the AI provider,
    (currently OpenAI or Google Gemini) and then the sex and voice of the 2 hosts
    of your podcast. Each AI provider comes with a number of different voices, male
    and female, each one with its own characteristics. </p>

    <p class=MsoNormal>OpenAI offers the following voices:</p>

    <table class=MsoNormalTable border=0 cellspacing=10% cellpadding=10%
 style='border-collapse:collapse'>
 <tr>
  <td style='padding:.75pt 10pt .75pt 10pt'>
  <p class=MsoNormal><b><span>Alloy</span></b></p>
  </td>
  <td style='padding:.75pt 10pt .75pt 10pt'>
  <p class=MsoNormal><b><span>Ash</span></b></p>
  </td>
  <td style='padding:.75pt 10pt .75pt 10pt'>
  <p class=MsoNormal><b><span>Ballad</span></b></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt 10pt .75pt 10pt'>
  <p class=MsoNormal><b><span>Coral</span></b></p>
  </td>
  <td style='padding:.75pt 10pt .75pt 10pt'>
  <p class=MsoNormal><b><span>Echo</span></b></p>
  </td>
  <td style='padding:.75pt 10pt .75pt 10pt'>
  <p class=MsoNormal><b><span>Fable</span></b></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt 10pt .75pt 10pt'>
  <p class=MsoNormal><b><span>Nova</span></b></p>
  </td>
  <td style='padding:.75pt 10pt .75pt 10pt'>
  <p class=MsoNormal><b><span>Onyx</span></b></p>
  </td>
  <td style='padding:.75pt 10pt .75pt 10pt'>
  <p class=MsoNormal><b><span>Sage</span></b></p>
  </td>
 </tr>
 <tr>
  <td  colspan="3" style='padding:.75pt 10pt .75pt 10pt'>
  <p class=MsoNormal><b><span>Shimmer</span></b></p>
  </td>
  </td>
 </tr>
</table>
    <p class=MsoNormal>Each voice comes in various vibes. If you want, you can hear
    all voices and their variations and also read their descriptions on <a
    href="https://www.openai.fm/" target="_blank">OpenAI.fm</a>. You can choose vibe from the ones
    you see on <a href="https://www.openai.fm/" target="_blank">OpenAI.fm</a> or any other vibe you
    like.</p>
  </div>
<div class="border-secondary text-white bg-transparent text-left">
    <p class=MsoNormal>If you choose Google’s Gemini, you will have a big variety of
voices:</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse'>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Zephyr</span></b><span>&nbsp;--&nbsp;<i>Bright</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Puck</span></b><span>&nbsp;--&nbsp;<i>Upbeat</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Charon</span></b><span>&nbsp;--&nbsp;<i>Informative</i></span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Kore</span></b><span>&nbsp;--&nbsp;<i>Firm</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Fenrir</span></b><span>&nbsp;--&nbsp;<i>Excitable</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Leda</span></b><span>&nbsp;--&nbsp;<i>Youthful</i></span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Orus</span></b><span>&nbsp;--&nbsp;<i>Firm</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Aoede</span></b><span>&nbsp;--&nbsp;<i>Breezy</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Callirrhoe</span></b><span>&nbsp;--&nbsp;<i>Easy-going</i></span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Autonoe</span></b><span>&nbsp;--&nbsp;<i>Bright</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Enceladus</span></b><span>&nbsp;--&nbsp;<i>Breathy</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Iapetus</span></b><span>&nbsp;--&nbsp;<i>Clear</i></span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Umbriel</span></b><span>&nbsp;--&nbsp;<i>Easy-going</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Algieba</span></b><span>&nbsp;--&nbsp;<i>Smooth</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Despina</span></b><span>&nbsp;--&nbsp;<i>Smooth</i></span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Erinome</span></b><span>&nbsp;--&nbsp;<i>Clear</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Algenib</span></b><span>&nbsp;--&nbsp;<i>Gravelly</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Rasalgethi</span></b><span>&nbsp;--&nbsp;<i>Informative</i></span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Laomedeia</span></b><span>&nbsp;--&nbsp;<i>Upbeat</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Achernar</span></b><span>&nbsp;--&nbsp;<i>Soft</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Alnilam</span></b><span>&nbsp;--&nbsp;<i>Firm</i></span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Schedar</span></b><span>&nbsp;--&nbsp;<i>Even</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Gacrux</span></b><span>&nbsp;--&nbsp;<i>Mature</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Pulcherrima</span></b><span>&nbsp;--&nbsp;<i>Forward</i></span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Achird</span></b><span>&nbsp;--&nbsp;<i>Friendly</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Zubenelgenubi</span></b><span>&nbsp;--&nbsp;<i>Casual</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Vindemiatrix</span></b><span>&nbsp;--&nbsp;<i>Gentle</i></span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Sadachbia</span></b><span>&nbsp;--&nbsp;<i>Lively</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Sadaltager</span></b><span>&nbsp;--&nbsp;<i>Knowledgeable</i></span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal><b><span>Sulafat</span></b><span>&nbsp;--&nbsp;<i>Warm</i></span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Voice Options by Style:</p>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal>Bright: Zephyr, Laomedeia, Schedar, Achird, Sadachbia.</li>
 <li class=MsoNormal>Upbeat: Puck, Achernar, Gacrux, Zubenelgenubi, Sadaltager.</li>
 <li class=MsoNormal>Informative: Charon, Alnilam, Pulcherrima, Vindemiatrix,
     Sulafat.</li>
</ul>

<p class=MsoNormal>If you want, you can try all voices on
    <a href="https://aistudio.google.com/generate-speech" target="_blank">https://aistudio.google.com/generate-speech</a>
</p>

<p class=MsoNormal>Choose your favorite voices from the relevant drop-down
menus and fill the mood fields with the vibe you prefer. Save your preferences
and finally enter the theme of your podcast. It will take a couple of minutes
for AI to do its magic creating your podcast. When it ready, it will start
playing immediately. </p>

<p class=MsoNormal>You can create as many Podcasts as you want, and next time
you log in, all your podcasts will be there, ready for you to listen to them
again!<br>
<br>
</p>

<p class=MsoNormal>Have fun!</p>

<p class=MsoNormal>&nbsp;</p>
</div>
</div>
{% endblock %}