{% extends "base.html" %}
{% block title %}login - My Podcast{% endblock %}
{% block content %}

{% with messages = get_flashed_messages()%}
{% if messages%}
    {% for message in messages%}
    <p>{{message}}</p>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <h1>Login</h1>
    <form method="post">
        <label for="username" class="block text-gray-300">Enter Username: </label>
        <input type="text" id="username" name="username" maxlength="16" required
               class="w-full p-2 mt-2 rounded border-gray-300 bg-gray-800 text-white focus:outline-none focus:ring-2 focus:ring-blue-500">
        <label for="password" class="block text-gray-300">Enter Password:</label>
        <input type="password" id="password" name="password" required
               class="w-full p-2 mt-2 rounded border-gray-300 bg-gray-800 text-white focus:outline-none focus:ring-2 focus:ring-blue-500">


    <button type="submit"
            class="mt-4 px-4 py-2 bg-green-600 text-white rounded hover:bg-green-500">
        Log In
    </button>
    </form>
    <a href="/register">Don't have an account? Register</a>

{% endblock %}