{% extends "base.html" %}
{% block title %}login - My Podcast{% endblock %}
{% block content %}

{% with messages = get_flashed_messages()%}
{% if messages%}
    {% for message in messages%}
    <p>{{message}}</p>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <h2>Login</h2>
<div class="text-white mb-4">
    <form method="post">
        <label for="username" class="block text-gray-300">Enter Username: </label>
        <input type="text" id="username" name="username" maxlength="16" required
               class="w-full p-2 mt-2 rounded border-gray-300 bg-gray-800 text-white focus:outline-none focus:ring-2 focus:ring-blue-500">
        <label for="password" class="block text-gray-300">Enter Password:</label>
        <input type="password" id="password" name="password" required
               class="w-full p-2 mt-2 rounded border-gray-300 bg-gray-800 text-white focus:outline-none focus:ring-2 focus:ring-blue-500">


    <button type="submit"
            class="btn btn-primary btn-sm py-3 px-4 small">
        Log In
    </button>
    </form>
</div>
    Don't have an account?
    <a href="{{ url_for('register') }}" class="btn btn-primary btn-sm py-3 px-4 small">Register</a></div>

{% endblock %}