{% extends "base.html" %}
{% block title %}Your Podcast{% endblock %}
{% block content %}

{% with messages = get_flashed_messages()%}
{% if messages%}
    {% for message in messages%}
    <p>{{message}}</p>
    {%endfor%}
    {%endif%}
    {%endwith%}
<h2 class="text-white font-weight-light mb-2 display-4">Listen to Your Podcast:</h2>
<div style="max-height:90vh; overflow-y:auto">
<div>
    <audio id="myPodcast" controls autoplay style="max-width: 100%">
      <source src="{{ url_for('static', filename= audio_file) }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
</div>
<div class="text-white font-weight-light mb-2">
<div id="audioMessage">
  Your Podcast has finished playing!<br>Go Back for more Podcasts<br><a href="{{ url_for('home') }}" class="btn btn-primary btn-sm py-3 px-4 small" type="button">Back</a>
</div>
</div>
</div>
<script>
  const audio = document.getElementById('myPodcast');
  const messageDiv = document.getElementById('audioMessage');
  messageDiv.style.visibility = "hidden";
  audio.addEventListener('ended', function() {
    messageDiv.style.visibility = "visible";
    // Optionally, update the text:
    // messageDiv.textContent = 'Your custom message here!';
  });
</script>
{% endblock %}
