{% extends "base.html" %}
{% block title %}Register - My Podcast{% endblock %}
{% block content %}
{% with messages = get_flashed_messages()%}
{% if messages%}
    {% for message in messages%}
    <p>{{message}}</p>
    {%endfor%}
    {%endif%}
    {%endwith%}
<h2 class="text-white font-weight-light mb-2 display-4">Register</h2>

<form method="post" class="site-block-subscribe">
    <div class="input-group mb-3">
        <input type="text" id="username" name="username" maxlength="40" required
               class="form-control border-secondary text-white bg-transparent" placeholder="Enter Username" aria-label="Enter Username" aria-describedby="button-addon2">
        <input type="password" id="password" name="password" maxlength="40" required
               class="form-control border-secondary text-white bg-transparent" placeholder="Enter Password" aria-label="Enter Password" aria-describedby="button-addon2">
        <button type="submit" class="btn btn-primary btn-sm py-3 px-4 small" id="button-addon2">Register</button>
    </div>
</form>
<div class="text-white font-weight-light mb-2">Already have an account?
    <a href="{{ url_for('login') }}" class="btn btn-primary btn-sm py-3 px-4 small" type="button">Log In</a>
</div>

{% endblock %}