{% extends "base.html" %}
{% block title %}Welcome - My Podcast{% endblock %}
{% block content %}
{% with messages = get_flashed_messages()%}
{% if messages%}
    {% for message in messages%}
    <p>{{message}}</p>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <p>Hello, {{session['username']}}!</p>
    <form method="post">
        <label for="topic" class="block text-gray-300">Please Enter a Topic:</label>
        <input type="text" id="topic"name="topic" maxlength="32" required
               class="w-full p-2 mt-2 rounded border-gray-300 bg-gray-800 text-white focus:outline-none focus:ring-2 focus:ring-blue-500">
        <button type="submit"
            class="mt-4 px-4 py-2 bg-green-600 text-white rounded hover:bg-green-500">Submit
        </button>
    </form>
    <a href='/logout'>Logout</a>
{% endblock %}